* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #111;
    color: #fff;
}

.container {
    display: flex;
    height: 100vh;
    width: 100%;
}

/* Left Side (Background Image or Decoration) */
.left {
    flex: 1;
    background: url('../images/Signup.jpg') center/cover no-repeat;
}

/* Right Side (Signup Form) */
.right {
    flex: 1;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1e1e1e;
}

.right h2 {
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

form input {
    padding: 14px;
    margin-bottom: 18px;
    border: none;
    border-radius: 6px;
    background-color: #333;
    color: #fff;
    font-size: 15px;
}

form input::placeholder {
    color: #aaa;
}

button {
    padding: 14px;
    background-color: #2e74d6;
    border: 1px solid #202124;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #f2f2f2;
    border: 1px solid #2e74d6;
    color: #2e74d6;
    font-weight: 700;
}

.social-text {
    margin: 25px 0 15px;
    text-align: center;
    color: #ccc;
}

.social-icons {
    text-align: center;
}

.social-icons a {
    margin: 0 12px;
    color: #00bcd4;
    font-size: 22px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #fff;
}

/* Responsive for Mobile */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .left {
        display: none;
    }

    .right {
        flex: 1;
        padding: 40px 20px;
    }
}

.reset-page {
    padding: 10px;
    color: #aaa;
}

.reset-page a{
    color: #fff;
}   